:root {
    /* placeholder variables since we haven't settled with final palatte yet */
    --row-backbround: lighten($var(--page-bg), 30%);
    --radius: 14px;
    /*matched eventDetails  */
    --textSize: 13px;
}

/*matched eventsDetailStyle .header-action */
#design-b-container button {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 999px;
    border: 1px solid var(--border-color);
}

#design-b-filter-clear,
#design-b-filter-cancel {
    background: lighten(var(--page-bg), 70%);
    width: 100%;
    font-weight: 300;
    border: var(--border-color);
}

/*container  */
#design-b-container {
    margin: auto;
}

#design-b-header,
.design-b-row-attendee {
    display: grid;
    /* grid-template-columns: 50px 1fr 80px 110px; */
    grid-template-columns: 50px 4fr 1fr 3fr;
    text-align: center;
    gap: 3px;
}
.design-b-row-attendee:active {
    filter: brightness(90%);
    transform: scale(0.99);
}
/*list header */
#design-b-header {
    font-size: 12px;
    padding: 6px 10px;
}

/*list item container  */
#design-b-attendee-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.design-b-row-attendee {
    gap: 10px;
    align-items: center;
    background: var(--row-backbround);
    border-radius: var(--radius);
    padding: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
        border: var(--border-color)
}

/* avatar */
.design-b-col-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.design-b-col-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design-b-col-avatar i {
    font-size: 20px;
}

/* name gender preference */
.design-b-col-name,
.design-b-col-gender,
.design-b-col-preference {
    font-weight: 500;
    font-size: var(--textSize);
    text-wrap: wrap;
}

.design-b-col-preference {
    display: flex-wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
        text-wrap: wrap;
}

/* filter */
.hidden {
    display: none;
}

/* prevent interaction from the rest of the page */
#design-b-filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

/* filter modal */
#design-b-filter-panel {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--page-bg);
    padding: 25px;

    width: 320px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);

    z-index: 1000;
}

#design-b-filter-panel h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#design-b-filter-panel h4 {
    margin-bottom: 5px;
}

.design-b-filter-section label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    font-size: var(--textSize);
}

.design-b-filter-section input {
    accent-color: var(--primary-button-color)
}

#design-b-filter-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#design-b-filter-panel button {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}

#design-b-filter-apply {
    background: var(--primary-button-color)
}